# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Don't commit lib files
**/lib/**/*

# Don't commit env powershell scripts
.envrc.ps1

# Don't commit test files
tests/**/*
